.action {
  text-align: center;
  vertical-align: middle;
}

.action input[type='submit'] {
  border: none;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  padding: 40px;
}

.standing {
  background-color: green;
}

.sitting {
  background-color: red;
}

